<div class="container">
  <div class="form">
    <div class="sign-in-section">
     
      <h1>Entre aqui</h1>
      <br>
      <br>
     
      <form>
        <div class="form-field">
          <label for="email">Email</label>
          <input id="email" type="email" placeholder="nome@exemplo.com" />
        </div>
        <div class="form-field">
          <label for="password">Password</label>
          <input id="password" type="password" placeholder="senha" />
        </div>
        <div class="form-field">
          <input type="submit" class="btn btn-signin" value="Entrar" />
        </div>
      </form>
    </div>
  </div>
</div>