/* footer social icons */

ul.social-network {
    list-style: none;
    display: inline;
    
    padding: 0;
  }
  
  ul.social-network li {
    display: inline;
    margin: 0;
    padding: 30px;
    
  }
  
  .social-network img {
    width: 50px;
    height: 50px;
    
  }
  

  footer {
    background-color: white !important;
    
  }

  footer h4 {
    color: black !important;
  }

  footer {
    background: url("https://i.ibb.co/bQZ5f5P/undraw-contact-us-15o2-3.png");
  }

 
