<div class="card border-0" style="width: 18rem; margin-right: 35px;">
  
    <aside class="profile-card">

      <header>
    
        <!-- here’s the avatar -->
        <a href="https://avatars0.githubusercontent.com/u/72394004?s=460&u=b76c04d5d8466ab07ac8e93e64faca1c0a3f80f7&v=4">
          <img src="https://avatars0.githubusercontent.com/u/72394004?s=460&u=b76c04d5d8466ab07ac8e93e64faca1c0a3f80f7&v=4">
        </a>
    
        <!-- the username -->
        <h1>{{nome}}</h1>
    
        <!-- and role or location -->
        <h2>DEVELOPER</h2>
    
      </header>
    
      <!-- bit of a bio; who are you? -->
      <div class="profile-bio">
    
        <p>Sou Desenvolvedor Full Stack Java Jr e Técnico em Eletrônica, atualmente estou cursando Sistemas de Informação, sou muito atento aos detalhes e um entusiasta nato em tecnologia.</p>
    
      </div>
    
      <!-- some social links to show off -->
      <ul class="profile-social-links ">
    
        <!-- twitter - el clásico  -->
        <li>
          <a href="https://twitter.com/tutsplus">
            <img src="https://www.flaticon.com/svg/static/icons/svg/1384/1384014.svg">
          </a>
        </li>
    
        <!-- codepen - your codepen profile-->
        <li>
          <a href="https://github.com/marcosv11">
            <img src="https://www.flaticon.com/svg/static/icons/svg/2111/2111432.svg">
          </a>
        </li>

        <li>
          <a href="#">
            <img src="https://www.flaticon.com/svg/static/icons/svg/1384/1384012.svg">
          </a>
        </li>
    
        <!-- envato – use this one to link to your marketplace profile -->
       
      </ul>
      
    </aside>  
        
  </div>