<div class="card border-0" style="width: 18rem;">
  <div class="d-flex justify-content-center">
    <img class="card-img-top rounded-circle w-75" src="https://avatars0.githubusercontent.com/u/72394004?s=460&u=b76c04d5d8466ab07ac8e93e64faca1c0a3f80f7&v=4" alt="Imagem de capa do card">
  </div>
    
    <div class="card-body">
      <h5 class="card-title text-center text-monospace">Marcos Vinicius</h5>
      <p class="card-text text-center text-monospace">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
       
      <a href="https://www.linkedin.com/in/marcos-vinicius-1b58411a2/" class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">LinkedIn</a>

      <a href="https://github.com/marcosv11" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">GitHub</a>
    </div>
  </div>