<!-- Footer -->

<hr>
<footer class="page-footer font-small bg-secondary pt-4">

    <!-- Footer Elements -->
    <div class="container">
  
      <!-- Call to action -->
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
          <h4 class="text-light">Siga-nos nas redes sociais</h4>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
  
              <ul class="social-network">
               <li><a href="https://www.facebook.com/generationbrasil" target="_blank" class="icoFacebook" title="Facebook">
                <img src="https://i.ibb.co/f1ysWv1/001-facebook.png" alt="">
                </a></li>
               <li><a href="https://www.instagram.com/generationbrasil/" target="_blank" class="icoInstagram" title="Instagram">
                <img src="https://i.ibb.co/SQn2QHd/004-linkedin.png" alt="">
                </a></li>
               <li><a href="https://www.linkedin.com/school/generationbrasil/" target="_blank" class="icoLinkedin" title="Linkedin">
                <img src="https://i.ibb.co/h8r474X/005-instagram.png" alt="">
                </a></li>
              </ul>
      </div>
      </div>
  
      <!-- Call to action -->
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="pt">
      <div class="footer-copyright text-center py-3 ">
       

    </div>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->